body {
  margin: 0;
  padding: 0;
  background-color: #cce6ff;
}

.pc-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pc-table th,
.pc-table td {
  border: 1px solid #000;
  padding: 12px 10px;
}

.pc-table th {
  background-color: rgba(255, 255, 255, 0.5);
}

.pc-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
